body{
    font-family: 'Raleway', sans-serif;
}

h1{
    text-align: center;
    margin-top: 20px !important;
    color: #834d9b ;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
}

.search-bar,.ui.segment:last-child{
    margin: 20px 0px !important; 
    background-color: #834d9b
}


.item{
    margin-bottom: 50px;
    margin-left: 20px;
}


.header{
    font-size: 1.8rem;
    line-height: 1.2em;
    margin-bottom: 30px !important;
    font-family: 'Raleway', sans-serif !important;
}

p{
    font-size: 1.8rem;
    padding-left: 20px;
}

div.ui.right.floated.button{
    background-color: #834d9b;
}

a{
    color: white;
    font-family: 'Raleway', sans-serif;;
    font-size: 20px;
}

a:hover{
    color: #1fddff;
}

.ui.form input[type="text"]{
    font-family: 'Raleway', sans-serif;;
}

